.idea
*.sql
core
vendor
sites/*/settings.local.php
/sites/*/services*.yml
sites/*/files
sites/*/private
modules/contrib
sites/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
/composer.lock
/example.gitignore
/.lando.yml
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/INSTALL.txt
/README.md
/README.txt
/autoload.php
/index.php
/update.php
/web.config
