.idea
*.sql
core
vendor
modules/contrib
sites/*/settings.local.php
sites/*/services*.yml
sites/*/files
sites/*/private
sites/*/modules/README.txt
sites/*/themes/README.txt
sites/README.txt
/composer.lock
/example.gitignore
/.lando.yml
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/INSTALL.txt
/README.md
/README.txt
/autoload.php
/index.php
/update.php
/web.config
themes/*/node_modules
themes/*/build
themes/*/package-lock.json

