{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes }}>
    <div class="header">
      <div class="header__container">
        <div class="header__top">
          <div class="header__logo">
              {{ elements.logo }}
          </div>
          <div class="header__menu">
              {{ elements.menu }}
          </div>
        </div>
          {% if elements.mytheme_search %}
            <div class="header__search">
                {{ elements.mytheme_search }}
            </div>
          {% endif %}
      </div>
    </div>
  </div>
{% endif %}
